.aligncenter {
	display: block;
	margin: 1em auto;
}

.alignleft {
	float: left;
	margin: .25em 1em 1em 0;
	@include media-breakpoint-up(sm) {
		margin: .25em 2em 1em 0;
	}
}

.alignright {
	float: right;
	margin: .25em 0 1em 1em;
	@include media-breakpoint-up(sm) {
		margin: .25em 0 1em 2em;
	}
}

.wp-caption {
	max-width: 100%;
	font-size: .8125em;

	p.wp-caption-text {
		padding: .75em 0;
		color: $gray;
		line-height: 1.2;
	}

}

@include media-breakpoint-up(xs) {

	img.size-content-quarter,
	.wp-caption.size-content-quarter {
		max-width: 50%;
	}

	img.size-content-halfwidth,
	.wp-caption.size-content-halfwidth {
		width: 100% !important;
		img {
			width: 100% !important;
		}
	}

	.wp-caption.size-content-halfwidth,
	.wp-caption.size-content-quarter {
		img {
			max-width: 100%;
		}
	}
}

@include media-breakpoint-up(sm) {

	img.size-content-halfwidth {
		max-width: 50%;
	}

	img.size-content-quarter {
		max-width: 25%;
	}

	.wp-caption.size-content-halfwidth {
		max-width: 50%;
	}

	.wp-caption.size-content-quarter {
		max-width: 25%;
	}
}

/*
 * Responsive video embeds.
 *
 * http://avexdesigns.com/responsive-youtube-embed/
 *
 * If other formats than 16:9 is needed, make that calculation in
 * class-sk-init.php and set classes to change padding-bottom or just go with
 * fitvids.js
 */
.video-container {
	@extend p;
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

