/*
 * Temporary stuff during development, hacks etc.
 *
 * If it's a hack, document it well.
 * */

img {
	max-width: 100%;
	height: auto;
}

.icon {
	width: 1em;
	height: 1em;
}

.site-footer {
	background: rgb(100, 186, 233);
	color: #fff;
	padding: 3em;
	min-height: 25em;
	//margin-top: 5.5rem;
}

