/*
 * Temporary stuff during development, hacks etc.
 *
 * If it's a hack, document it well.
 * */

img {
	max-width: 100%;
	height: auto;
}

.icon {
	display: inline-block;
	width: 1em; /* default icon width */
	position: relative;
	user-select: none;
}

.icon-canvas {
	display: block;
	width: 100%;
	visibility: hidden;
}

.icon-svg {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.post-tags {
	font-size: .8125em;
	color: $paragraph-color;
}

a[rel="tag"] {
	background: $gray-lighter;
	display: inline-block;
	padding: .55em 1.25em;
	border-radius: .5em;
	color: inherit;
	margin-right: .25em;
}

.box {
	&-info {
		background: $brand-info;
		color: #fff;
		padding-left: $spacer-x;
		padding-right: $spacer-x;
		p { color: inherit; }
	}
	&-warning {
		background: $brand-warning;
		color: #fff;
		padding-left: $spacer-x;
		padding-right: $spacer-x;
		p { color: inherit; }
	}
}


/**
 *
 * Citybreak event calendar hacks
 */
.front-page-section__calendar {
	background: $sk_pink;
	color: #fff;
	padding-top: 2em;
	padding-bottom: 2em;
}

#tblCalendarEventWidget {
	display: none !important;
}

#Citybreak_CalendarEventWidget {
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	font-size: 2em;
	width: 100% !important;
	#cb_whathappenstoday_list {
		li {
			margin-bottom: .5em;
		}
	}
	#cb_whathappenstoday {
		background: transparent;
		margin: 0;
		.cb_whathappensheader,
		.cb_daytitle {
			display: none;
		}
		.cb_title {
			font-size: 1em;
		}
	}

}



/**
 * Gravity forms styled as bootstrap
 */

.gform_fields {
    input, select, textarea {
        @extend .form-control;
    }
}
 
.gfield_description {
    @extend .alert;
}
 
.validation_error {
    @extend .alert-danger;
}
 
.validation_message {
    @extend .alert-success;
}
 
.gform_button {
    @extend .btn;
    @extend .btn-primary;
}
 
.gfield_required {
    color: $alert-danger-text;
}
 
.gform_wrapper ul.gfield_radio li {
    @extend .radio
}
 
.gform_wrapper ul.gfield_checkbox li {
    @extend .checkbox
}

