$offcanvas-transition-duration: .75s;
$mobile-search-transition-duration: .5s;

$sk-section-colors: (
	utbildning: profile-color(solum),
	uppleva: profile-color(vattjom),
	omsorg: profile-color(rödön),
	bygga: profile-color(grönsta),
	samhallsplanering: profile-color(svartvik),
	naringsliv: profile-color(vattjom, 2),
	kommun: profile-color(björnstigen),
);

