.site-header {
  background: transparent;
  margin-bottom: 2rem; }
  .site-header .logo-container {
    display: block; }
    .site-header .logo-container .icon {
      width: 3em; }

.site-navigation {
  display: none; }

.breadcrumb {
  display: none; }

.search-container {
  display: none; }

.global-posts {
  display: none; }

.sk-sidebar,
.vote-widget,
.post-tags,
.page-widgets {
  display: none; }

.site-footer {
  display: none; }
