$offcanvas-transition-duration: .5s;
$mobile-search-transition-duration: .5s;

$sk-section-colors: (
	utbildning: profile-color(solum),
	uppleva: profile-color(vattjom),
	omsorg: profile-color(rödön),
	bygga: profile-color(grönsta),
	samhallsplanering: profile-color(svartvik),
	naringsliv: profile-color(vattjom, 2),
	kommun: profile-color(björnstigen),
);

$overlay_shadow: 0 5px 11px 0 rgba(0,0,0,0.28),0 4px 15px 0 rgba(0,0,0,0.22);


$sk-linklist-fg: #cccccc;
$sk-linklist-bg: #f7f7f7;
$sk-linklist-fg-active: #343434;