.sk-collapse {

	margin-bottom: 1.75rem;

	> div {
		padding: 0 $spacer-x * 1.5;
		overflow: hidden;
		border: 5px solid $gray-lightest;
		border-top: none;
		> :first-child {
			margin-top: 1.75rem;
		}
	}

	> h2,
	> h3,
	> h4 {
		margin-bottom: 0;
		a {
			color: inherit;
			display: block;
			padding: $spacer-x * 1.5;
			padding-right: $spacer-x * 3;
			background: $gray-lightest;
			position: relative;
			text-decoration: none;

			&:after {
				content: "+";
				font-size: 2rem;
				position: absolute;
				right: $spacer-x * 1.5;
				top: 50%;
				transform: translateY(-50%);

				width: 2rem;
				height: 2rem;
				line-height: 1;
				background: $sk-purple;
				color: $gray-lightest;
				text-align: center;
				border-radius: 50%;
			}

			&[aria-expanded="true"]:after {
				content: "-";
				line-height: .82;
			}

			&:hover {
				background: $gray-lighter;
			}
		}
	}

}
