.sk-collapse {

	margin-bottom: 1em;

	> div {
		padding: 0 $spacer-x * 1.5;
		background: $gray-lightest;
		overflow: hidden;
	}

	h2, h3, h4 {
		margin-bottom: 0;
		a {
			color: inherit;
			display: block;
			padding: $spacer-x * 1.5;
			padding-right: $spacer-x * 3;
			background: $gray-lightest;
			position: relative;

			&:after {
				content: "+";
				font-size: 1.5rem;
				position: absolute;
				right: $spacer-x * 1.5;
				top: 50%;
				transform: translateY(-50%);
			}

			&[aria-expanded="true"]:after {
				content: "-";
			}
		}
	}

}
