$eservice-background: rgb(232, 255, 238);
$eservice-color: rgb(38, 191, 76);

/*
 * Single E-service link. Displayed in content with shortcode.
 */
a.eservice-single-block {
	&:focus,
	&:hover {
		color: inherit;
		outline: 4px solid $eservice-color;
	}
}
.eservice-single-block {
	background: $eservice-background;
	color: inherit;
	display: block;
	margin-bottom: 1.75rem;
	position: relative;
	min-height: 66px;
	padding: 1.2em 1em 1.2em 65px;

	&--notfound {
		padding-left: 1em;
	}

	span {
		display: inline-block;
		margin-left: .5em;
		line-height: 1.25;
	}

	img {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

}

/*
 * Small inline e-service link
 */
.eservice-link {
	background: $sk-eservice-bg;
	color: $sk-eservice-fg;
	font-size: .875em;
	padding: 0em 3em 0em 2.25em;
	border-radius: 1em;
	position: relative;

	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;

	&:hover {
		background: $sk-eservice-fg;
		color: $sk-eservice-bg;
		&:before {
		}
	}

	&:before {
		content: "";
		color: $sk-eservice-bg;
		display: block;
		background: $sk-eservice-fg;
		position: absolute;
		top: 0;
		left: 0;
		width: 1.65em;
		height: 1.65em;
		border-radius: 50%;
	}
}
