/*
 * Single E-service link. Displayed in content with shortcode.
 */
.eservice-single-block > a{
}
.eservice-single-block {

	display: block;
	margin: 0;

	+ p:not(.eservice-single-block) {
		margin-top: 1.75rem;
	}

	> a {
		font-size: 1em;
	}

}

/*
 * Small inline e-service link
 */
.eservice-link {

	background: $sk-eservice-bg;
	color: $sk-eservice-fg;
	padding: .75em 2.75em .75em 3.25em;
	border-radius: 2em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	width: 100%;
	margin-bottom: .2em;

	font-size: .875em;
	@include media-breakpoint-up(sm) {
		width: auto;
		padding: 0em 3em 0em 2.25em;
		border-radius: 1em;
		margin-bottom: 0;
	}

	&:focus,
	&:hover {
		color: $sk-eservice-bg;
		background: $sk-eservice-fg;
	}

	&__icon {
		overflow: hidden;
		content: "";
		color: $sk-eservice-bg;
		display: block;
		background: $sk-eservice-fg;
		position: absolute;
		top: 50%;
		left: 0;
		width: 2em;
		height: 2em;
		transform: translate(.6em, -50%);
		@include media-breakpoint-up(sm) {
			top: 0;
			transform: none;
			width: 1.74em;
			height: 1.74em;
		}
		border-radius: 50%;
		img {
			// Temporarily hide icon until they are correct
			// colors.
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
