$page-widget-bg1: #f2f2f3;
$page-widget-bg2: #f7f7f9;

.page-widgets {
	margin-bottom: 0;
	margin-top: 2rem;
	@include media-breakpoint-up(md) {
		margin-top: 5.5rem;
	}

	.page-template-page-advanced & {
		margin-top: 0;
	}
}

.page-widget {

	background: $page-widget-bg2;

	.front-page-section__eservices & {
		background: transparent;
	}

	&__container {
		@extend .container-fluid;
		@include media-breakpoint-up(md) {
			display: flex;
		}
	}

	&__main {
		@include make-col();
		background: $page-widget-bg1;
		@include make-col-span(12);
		@include media-breakpoint-up(md) {
			@include make-col-span(8);
		}
		//width: percentage(2/3);
		padding-top: 3.75em;
		padding-bottom: 5em;
		position: relative;
		z-index: 1;
		overflow: visible !important;

		&:before {
			content: '';
			background: $page-widget-bg1;
			z-index: -1;
			position: absolute;
			right: 100%;
			width: 2000px;
			top: 0;
			bottom: 0;
		}
	}

	&__secondary {
		@include make-col();
		@include make-col-span(12);
		@include media-breakpoint-up(md) {
			//width: percentage(1/3);
			@include make-col-span(4);
		}
		background: $page-widget-bg2;
		padding-left: $spacer-x*2;
		padding-top: 3.75em;
		padding-bottom: 3.75em;
	}

	&__title {
		font-size: 2em;
		margin-bottom: 2em;
	}

	&__secondary .page-widget__title {
		margin-bottom: .875em;
	}

	&__description {
		color: $text-muted;
		font-size: .875em;

		p {
			margin-bottom: 1em;
		}

	}

	&__columns {
		width: 100%;
		page-break-inside: avoid;
		break-inside: avoid;
		@include media-breakpoint-up(sm) {
			columns: 2;
		}
		max-width: 54em;

		.home.page & {
			@include media-breakpoint-up(md) {
				columns: 1;
			}

			@include media-breakpoint-up(lg) {
				columns: 2;
			}

		}
	}

	ul {
		list-style: none;
		padding: 0;
	}

}

.widget-map .page-widget__main {
	min-height: 27em;
}
