/**
 * Contact person displayed after page content.
 */

.page-contacts {
	border-top: 1px solid $hr-border-color;
	padding-top: 2.5rem;
	margin-top: 3rem;
}

.page-contact {

	&__image {
		max-width: 3.125em;
		float: left;
		margin-right: 1em;
		img {
			border-radius: 50%;
		}
	}

	&__block {
	}

	&__title {
		font-size: 1.25em;
		margin: 0;
		font-weight: 300;
	}

	&__role {
		font-family: $font-family-sans-serif;
		font-size: .7em;
		margin-left: 1em;
	}

	&__email {
		font-size: .8125em;
		color: $text-muted;
		margin-bottom: 0;
		a {
			font-weight: bold;
		}
	}

	&__address {
		font-size: .8125em;
		color: $text-muted;
		margin-bottom: 0;
		line-height: 1.25;
		margin-top: .3em;
		p {
			margin: 0;
		}
	}

}

.other-page-contacts {

	background: $gray-lightest;
	padding: 2em 1.5em;
	margin-top: 2em;

	.page-contact {
		.page-contact__title {
			font-size: 1em;
		}

		+ .page-contact {
			margin-top: 1em;
		}
	}

}


