.home .front-page-section__service-messages .front-page__heading {

	@include media-breakpoint-up(sm) {
		margin-bottom: 0;
	}
}

.global-posts {
	.alert {
		margin-bottom: 0;
	}
}

.front-page-section__service-messages {
	padding: 1.75rem 0;
	margin-top: 0;
	width: 100%;

	&:before {
		content: "";
		position: absolute;
		display: block;
		height: 100%;
		z-index: -1;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		@include media-breakpoint-up(md) {
			background: $state-warning-bg;
		}
	}

	margin-bottom: 0;

	.btn-rounded {
		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	@include media-breakpoint-up(sm) {
		margin-top: 3rem;
	}

	@include media-breakpoint-up(lg) {
		margin-top: 5rem;
	}

	.widget-service-messages {
		font-size: .875em;
		@include media-breakpoint-up(md) {
			//margin-bottom: 0;
		}

		margin: 2em 0;

		li {
			display: inline-block;
			margin-right: $spacer-x;
			width: 100%;
			@include media-breakpoint-down(md) {
				margin-right: 0;
			}
		}

		a {
			display: block;
			width: 100%;
			@include media-breakpoint-up(md) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			color: inherit;
		}

		&__post {

			color: $state-warning-text;

			@include media-breakpoint-down(md) {
				font-size: 1.125em;
				font-family: $font-family-large;
				font-weight: 600;
				padding-left: 2em;
				position: relative;
				margin-bottom: .875em;
				line-height: 1.4;
			}
			
			.icon {
				fill: $state-warning-text;
				font-size: 2.25em;
				vertical-align: middle;
				@include media-breakpoint-down(md) {
					position: absolute;
					top: 50%;
					left: -.35em;
					transform: translateY(-50%);
				}
			}

			&__date {

			}

			&__title {
				@include media-breakpoint-up(md) {
					vertical-align: -.2em;
				}
			}

		}

	}

}

