.home .front-page-section__service-messages .front-page__heading {
	margin-top: .15em;

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
}

.global-posts {
	.alert {
		margin-bottom: 0;
	}
}

.front-page-section__service-messages {
	padding: 1.75rem 0;
	margin-top: 0;

	@include media-breakpoint-up(sm) {
		margin-top: 3rem;
	}

	.widget-service-messages {

		font-size: .875em;
		@include media-breakpoint-up(sm) {
			columns: 2;
		}
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}

		li {
			width: 100%;
		}

		a {
			display: block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			color: inherit;
		}

		&__post {

			fill: $brand-warning;

			&__date {

				color: $brand-warning;

			}

			&__title {

			}

		}

	}

}

