/*
 * Regular page/post like single.php, post.php
 * */

.single-post {

	&__row {
		@include make-row();
	}

	&__sidebar {
		color: $gray-light;
		font-size: .8125em;

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(2);
		}

		@include media-breakpoint-up(lg) {
			width: 10rem;
			margin-right: 3rem;
		}

		ul {
			list-style: none;
			padding: 0;
		}
		hr {
			margin: 2em 0;
		}
		a {
			color: inherit;
		}
	}

	&__content {

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(10);
		}
		@include media-breakpoint-up(lg) {
			max-width: 48.125em;
		}

		p {
			color: $paragraph-color;
		}

		p.lead {
			color: inherit;
		}
	}

	&__title {
		@include media-breakpoint-up(md) {
			font-size: 3.5em;
		}
		margin-bottom: .8em;
	}

	&__date {
		font-size: .9375em;
		margin-bottom: 1.2rem;
	}

}
