.site-navigation {
	@include media-breakpoint-up(md) {
		border-bottom: 5px solid $gray-lighter;
	}
	line-height: 1.25;

	@include media-breakpoint-up(md) {
		display: block;
		margin-top: 2.2em;
	}

	ul {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			align-content: flex-end;

			max-width: 76.125em;
			margin: 0 auto -5px;
		}
	}

	li {
		width: 100%;

		a {
			width: 100%;
			display: inline-block;
			padding: 2em .5em 2em .5em;
			border-bottom: 5px solid $gray-lighter;
			color: inherit;
		}

		&:hover a,
		&.current-menu-item a {
			text-decoration: none;
		}

		.menu-item-icon {
			fill: #fff;
			background: $brand-primary;
			display: inline-block;
			border-radius: 50%;
			vertical-align: middle;
			position: relative;
			margin-right: .2em;

			width: 2rem;
			height: 2rem;

			@include media-breakpoint-up(xl) {
				width: 3.5rem;
				height: 3.5rem;
			}

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				height: 60%;
			}
		}

		.menu-item-text {
			display: inline-block;
			vertical-align: middle;
			@include media-breakpoint-up(md) {
				max-width: 92px;
			}
		}
	}

	@each $section, $color in $sk-section-colors {
		.nav-#{$section} {
			.menu-item-icon {
				background-color: $color;
			}
			&:hover a,
			&.current-menu-item a,
			&.current-page-ancestor a {
				border-bottom-color: $color;
			}
		}
	}
}
