#skiplinks {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999999;
}

.focus-only {
	display: inline-block;
	height: 0;
	position: absolute;
	overflow: hidden;
	background: $gray-dark;
	color: #fff !important;

	&:focus {
		height: auto;
		position: static;
		overflow: auto;
		padding: 1em;
	}
}

.site-header {
	background: linear-gradient(#fff, $gray-lightest);
//	margin-bottom: 5.5rem;
	font-family: arial;

	@include media-breakpoint-down(sm) {
		margin-bottom: 0;
	}

	.navbar {
		margin-bottom: 1.25rem;
	}
}

.navbar-mobile {
	background: rgba(profile-color(björnstigen, 2), .95);
	color: white;
	height: 4em;
	padding: .5em;

	.admin-bar & {
		margin-top: 46px;
	}

	button,
	.btn {
		color: inherit;
		height: 2.25em;
		padding: 0;

		> span {
			vertical-align: middle;
			font-size: .875em;

			+ span {
				margin-left: .5em;
			}
		}

		.iconwrapper {
			font-size: 1em;
			display: inline-block;
			background: rgba(white, 0.1);
			border-radius: 50%;
			position: relative;
			width: 2.25em;
			height: 2.25em;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}

	svg {
		fill: white;
	}

	.navbar-center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.site-logo {
		.icon {
			max-height: 2.1em;
			margin-top: .1em;
			width: auto;
		}
	}
}

.logo-container {
	max-width: 15.65rem;
	flex: 0 0 15.65rem;
	display: none;
	@include make-col();
	@include media-breakpoint-up(md) {
		display: block;
	}
}

body {
	@include media-breakpoint-down(sm) {
		transition: margin $mobile-search-transition-duration;
		&.search-active {
			margin-top: 100px;
		}
	}
}

.logo-search-row {
	display: flex;
}

.search-container {
	transition: height $mobile-search-transition-duration;
	@include make-col();
	@include media-breakpoint-up(md) {
		width: 100%;
		padding-left: 3.25em;
		display: block;
	}

	@include media-breakpoint-down(sm) {
		position: fixed;
		top: 64px;
		width: 100%;
		height: 0;
		float: none;
		overflow: visible;
		background: rgba(profile-color(björnstigen, 2), .95);
	}

	&.active {
		height: 100px;
	}

	z-index: 4;

	form {
		@include media-breakpoint-up(md) {
			margin-top: 1.6em;
		}
	}
}

.search-container {
	@include media-breakpoint-down(sm) {
	}
}

.searchform {
	@include media-breakpoint-down(sm) {
		padding: 1em 0;
	}
	.form-control {
		font-size: 1.0625rem;
		padding: .8em 1.5em;
		//border-right: none;
	}

	.btn {
		font-size: 1.0625rem;
		padding: .80em 1em;
		&:not(:hover) {
			border-left: none;
		}
	}

	.icon {
		fill: $brand-primary;
		width: 2.1em;
		height: 1.50em;
		vertical-align: middle;
	}

	::placeholder {
		color: inherit;
	}
	input {
		color: inherit;
	}

	.loading {
		position: relative;
	}

	.loading:after {
		content: '';
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 5px solid transparent;
		pointer-events: none;
		border-right-color: profile-color(björnstigen, 1);
		border-bottom-color: profile-color(juniskär, 1);
		border-left-color: profile-color(grönsta, 1);
		border-top-color: profile-color(vattjom, 1);
		border-radius: 50%;
		position: absolute;
		z-index: 999;
		left: 0%;
		top: 50%;
		transform: translate(50%, -50%);
		animation: spin .75s linear infinite;
	}
}

.site-logo {
	.icon {
		height: auto;
		width: 100%;
	}
}

main > .container-fluid {
	@include media-breakpoint-up(md) {
		margin-top: 5.5rem;
	}
}

main > .container-fluid ~ .container-fluid {
	margin-top: 0;
}


@keyframes spin {
	from {
		transform: translate(-200%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-200%, -50%) rotate(359deg);
	}
}
