/**
 * Off canvas navigation
 */
.offcanvas {

	@include media-breakpoint-down(sm) {
		z-index: 2;
		background: white;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		// Height of fixed navbar
		padding-bottom: 64px;
		.search-active & {
			z-index: 3;
			padding-bottom: 164px;
		}
		overflow: scroll;
		transform: translateX(-100%);
		transition: transform $offcanvas-transition-duration, padding $mobile-search-transition-duration;
		-webkit-overflow-scrollling: touch; // More standard scroll behaviour in iOS
		&.active,
		&:target {
			transform: translateX(0);
		}
	}

}

@include media-breakpoint-down(sm) {

	.offcanvas-active-left .contentwrapper-outer,
	.offcanvas-animating-left .contentwrapper-outer {
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.contentwrapper-inner {
		transition: transform $offcanvas-transition-duration;
	}

	.offcanvas-active-left .contentwrapper-inner {
		transform: translateX(100%);
	}

	body.offcanvas-active-left,
	body.offcanvas-animating-left {
		overflow: hidden;
	}

}

.site-navigation {

	line-height: 1.25;

	.nav-header {
		padding: 2em $spacer-x 1em;
		background: $gray-lightest;
		border-bottom: 1px solid $gray-lighter;


		.admin-bar & {
			margin-top: 46px;
		}

		h2 {
			margin: 0;
			font-size: 1.35em;
		}
	}

	@include media-breakpoint-up(md) {
		//border-bottom: 5px solid $gray-lighter;
		border-bottom: 4px solid #DEE4E9;
	}

	@include media-breakpoint-up(md) {
		display: block;
	}

	nav {
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			align-content: flex-end;

			max-width: 76.125em;
			margin: 0 auto -4px;
		}
	}

	nav a {
		min-width: 0;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1.75em $spacer-x 1.75em $spacer-x;
		border-bottom: 1px solid $gray-lighter;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: auto;
			justify-content: center;
			text-align: center;
			//border-bottom: 5px solid $gray-lighter;
			border-bottom: 4px solid #DEE4E9;
			padding: 2em .5em 2em .5em;
		}
		@include media-breakpoint-up(lg) {
			text-align: left;
			flex-wrap: nowrap;
		}
		color: inherit;
	}

	&:hover a,
	&.current-menu-item a {
		text-decoration: none;
	}

	.menu-item-icon {
		fill: #fff;
		background: $brand-primary;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		position: relative;
		margin-right: $spacer-x/2;

		min-width: 3rem;
		min-height: 3rem;

		@include media-breakpoint-up(md) {
			margin-bottom: .5em;
			margin-right: .2em;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}

		@include media-breakpoint-up(xl) {
			margin-right: $spacer-x/2;
			min-width: 3.5rem;
			min-height: 3.5rem;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 60%;
		}
	}

	.menu-item-text {
		display: inline-block;
		vertical-align: middle;
		@include media-breakpoint-down(sm) {
			font-family: $font-family-large;
		}
		@include media-breakpoint-up(md) {
			min-height: 2.5em;
		}
	}

	@each $section, $color in $sk-section-colors {
		.nav-#{$section} {
			.menu-item-icon {
				background-color: $color;
			}
			&:hover,
			&.current-menu-item,
			&.current-page-ancestor {
				@include media-breakpoint-up(md) {
					border-bottom-color: $color;
				}
			}
		}
	}
}
