#skiplinks {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999999;
}

.focus-only {
	display: inline-block;
	height: 0;
	position: absolute;
	overflow: hidden;
	background: $gray-dark;
	color: #fff !important;

	&:focus {
		height: auto;
		position: static;
		overflow: auto;
		padding: 1em;
	}
}

.site-header {
	margin-bottom: 5.5rem;
	font-family: arial;

	.navbar {
		margin-bottom: 1.25rem;
	}
}

.logo-container {
	max-width: 15.65rem;
	float: left;
	@include make-col();
}

.search-container {
	@include make-col();
	padding-left: 3.25em;
	float: none;
	overflow: auto;

	form {
		margin-top: 1.6em;
	}
}

.searchform {

	.form-control {
		font-size: 1.0625rem;
		padding: .8em 1.5em;
		//border-right: none;
	}

	.btn {
		font-size: 1.0625rem;
		padding: .80em 1em;
		&:not(:hover) {
			border-left: none;
		}
	}

	.icon {
		fill: $brand-primary;
		width: 2.1em;
		height: 1.50em;
		vertical-align: middle;
	}

	::placeholder {
		color: inherit;
	}
	input {
		color: inherit;
	}
}

.site-logo {
	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.site-navigation {
	margin-top: 2.2em;
	border-bottom: 5px solid $gray-lighter;
	line-height: 1.25;

	ul {
		margin-bottom: -5px;
	}
	li {
		display: inline-block;

		&:first-child {
			margin-left: -1.5em;
		}

		a {
			display: inline-block;
			padding: 2em 1em 2em 1em;
			border-bottom: 5px solid $gray-lighter;

		}

		&:hover a,
		&.current-menu-item a {
			border-bottom: 5px solid $brand-primary;
			text-decoration: none;
		}

		a {
			color: inherit;
		}


		.menu-item-icon {
			fill: #fff;
			background: $brand-primary;
			display: inline-block;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			vertical-align: middle;
			position: relative;
			margin-right: .2em;

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				height: 60%;
			}
		}

		.menu-item-text {
			display: inline-block;
			max-width: 5.375rem;
			vertical-align: middle;
		}
	}
}


