.vote-widget {
	margin: ($spacer-y * 2) 0 0;
	border-top: $hr-border-width solid $hr-border-color;
	padding-top: $spacer-y * 2;

	&__heading {
		margin-right: $spacer-x * 2;
		margin-top: $spacer-y / 2;
	}

	&__actions {

	}

}
