.archive {

	&__row {
		@include make-row();
	}

	&__content {

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(10);
		}
		@include media-breakpoint-up(lg) {
			max-width: 48.125em;
		}
	}
}

.archive__title {
	@include media-breakpoint-up(md) {
		font-size: 3.5em;
	}
	margin-bottom: .8em;
}

.archive-post {
	.media-left {
		padding-right: $spacer-x*2;
	}

	.img-placeholder {
		width: 132px;
		height: 92px;
		max-width: 100%;
		background: profile-color(svartvik, 2);

		.icon {
			width: 100%;
			height: 100%;
			fill: white;
		}
	}

	.media-body {
		vertical-align: middle;
		line-height: 1.5;
		.media-heading {
			line-height: inherit;
		}
	}

		margin-bottom: 1.5em;

		&__date {
			color: $gray;
			font-size: .875em;
		}

		&__excerpt {
			margin-top: $spacer-y / 2;
		}

	a {
		color: inherit;

		&:hover {
			.media-body {
				color: $gray-light;
			}

			.media-left {
				opacity: .75;
			}
		}
	}
}
