.archive {

	margin-bottom: 2rem;
	@include media-breakpoint-up(md) {
		margin-bottom: 5.5rem;
	}

	.load-more {
		margin: auto;
		display: block;
	}

	.row {

		// Clear float at first div in each "row", else the layout break if
		// headings are too long.
		@include media-breakpoint-up(sm) {
			> div:nth-child(2n+1) {
				clear: left;
			}
		}

		@include media-breakpoint-up(md) {
			> div:nth-child(2n+1) {
				clear: none;
			}
			> div:nth-child(3n+1) {
				clear: left;
			}
		}

	}

	.archive-post__thumbnail {
		margin-bottom: $spacer-y;
		img, .img-placeholder {
			width: 100%;
		}
		img {
			height: auto;
		}
	}

	.archive-post__date {
		margin-top: 0;
		margin-bottom: $spacer-y * 2;
	}

	&__tags {
		margin-bottom: $spacer-y * 2;
	}
}

.archive__title {
	@include media-breakpoint-up(md) {
		font-size: 3.5em;
	}
	margin-bottom: .8em;
}

.archive-post {

	.media-left {
		padding-right: $spacer-x*2;
	}

	.img-placeholder {
		width: 160px;
		height: 0px;
		position: relative;
		padding-bottom: 78.125%;
		max-width: 100%;
		background: profile-color(svartvik, 2);

		.icon {
			width: 40%;
			height: 40%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: white;
		}
	}

	.media-body,
	&__content {
		line-height: 1.5;
		.media-heading {
			line-height: 1.2;
		}
	}

		margin-bottom: 1.3em;

		&__date {
			color: $gray-light;
			font-size: .75em;
			font-family: $font-family-large;
			font-weight: 500;
		}

		&__excerpt {
			margin-top: $spacer-y / 2;
		}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			.media-body,
			.archive-post__content {
				color: $gray-light;
			}

			.media-left,
			.archive-post__thumbnail {
				opacity: .75;
			}
		}
	}
}
