.home.page {

	.site-header {
		margin-bottom: 1.25rem;
	}

	main > .container-fluid {
		margin-top: 0;
	}

	.image-boxes {
		margin-top: $spacer-y;
		margin-bottom: $spacer-y;
		@include media-breakpoint-up(md) {
			margin-top: $spacer-y*3;
			margin-bottom: $spacer-y*2;
		}
	}

	.front-page__heading {
		font-size: 1.375rem;
		@include media-breakpoint-up(md) {
			font-size: 2rem;
		}
		margin-top: 0;
		margin-bottom: .75em;
	}

	.eservices-col,
	.news-col {
		@include make-col();
		margin-bottom: $spacer-y * 1.5;
	}

	.eservices-col {

		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(7.5);
		}
	}

	.news-col {

		@include make-col-span(12);
		
		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(4.5);
		}
	}

	.eservices-col .front-page__heading,
	.news-col .front-page__heading {
		margin-bottom: 1.875em;
	}

	// E-service container
	.page-widget__container {
		padding-top: 0;
	}

	.widget-eservices {
		h3,h4 {
			font-size: 1.125em;
			margin-bottom: 1.125em;
			margin-top: 2em;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.mobile-news .news .front-page__heading {
		display: none;
	}
}
