.home.page,
.page-template-page-advanced {

	main > .container-fluid {
		margin-top: 0;
	}

	.front-page__heading {
		font-size: 1.375rem;
		@include media-breakpoint-up(md) {
			font-size: 2rem;
		}
		margin-top: 0;
		margin-bottom: .75em;
	}

	.eservices-col,
	.news-col {
		@include make-col();
		margin-bottom: $spacer-y * 1.5;
	}

	.eservices-col {

		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(7.5);
		}
	}

	.news-col {

		@include make-col-span(12);
		
		@include media-breakpoint-up(md) {
			@include make-col-span(6);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(4.5);
		}
	}

	.eservices-col .front-page__heading,
	.news-col .front-page__heading {
		margin-bottom: 1.875em;
	}

	// E-service container
	.page-widget__container {
		padding-top: 0;
	}

	.widget-eservices {
		h3,h4 {
			font-size: 1.125em;
			margin-bottom: 1.125em;
			margin-top: 2em;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.mobile-news .news .front-page__heading {
		display: none;
	}
}


.widget-latest-news__post .media-left {

	@include media-breakpoint-down(sm) {
		.small {
			display: none;
		}
		.img-placeholder {
			width: 100%;
			height: 200px;
			height: 40vw;
		}
	}
	@include media-breakpoint-up(md) {
		.large {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {

	.widget-latest-news {

		position: relative;

		&__post {
			margin: 0;
			.media-left {
				display: block;
				width: 100%;
				padding: 0 !important;
				margin-bottom: $spacer-y;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.news-slider {
		position: relative;
	}

	.slider-controls {

		.icon {
			width: 100%;
			height: 100%;
		}

		#prevslide,
		#nextslide {
			opacity: .25;
			position: absolute;
			top: 50%;
			padding: 0;
			height: 2em;
			width: 2em;
			fill: profile-color(björnstigen, 2);
			&:hover {
        opacity: 1;
				fill: profile-color(björnstigen, 1);
			}
		}
		#prevslide {
			left: 0;
			transform: translateY(-50%) translateX(-65%) rotate(180deg);
		}
		#nextslide {
			right: 0;
			transform: translateY(-50%) translateX(65%);
		}
	}

}
