.navigation-page__header {
	@include media-breakpoint-down(sm) {
		padding: 1.75em $spacer-x 1em;
		background: $gray-lightest;
		border-bottom: 1px solid $gray-lighter;
		margin: 0;
	}

	margin-bottom: 3em;

	@extend .clearfix;

	.page-icon {
		@include section-colors(background);
		color: #fff;
		fill: currentColor;
		width: 3.25em;
		height: 3.25em;
		border-radius: 50%;
		float: left;
		position: relative;
		margin-right: 2em;

		@include media-breakpoint-up(md) {
			width: 8em;
			height: 8em;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 60%;
		}
	}

	.page-title {
		display: inline-block;
		float: left;
		@include media-breakpoint-down(sm) {
			margin: 0;
			font-size: 1.5em;
		}
	}

}

.navigation-card .nav-card-title__icon {
	@include section-colors(background);
}

.navigation-card:hover {
	//@include section-colors(background, .05);
	//@include section-colors(outline-color);
}
