/*
 * Regular page/post like single.php, post.php
 * */

.single-post {

	&__row {
		@include make-row();
	}

	&__sidebar {
		font-size: .8125em;
		color: $gray-light;
		fill: currentColor;
		padding-top: 2em;

		.icon {
			font-size: 2.25em;
			vertical-align: -.25em;
			margin-right: .2em;
		}

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(2);
		}

		@include media-breakpoint-up(lg) {
			width: 10rem;
			margin-right: 3rem;
		}

		ul {
			list-style: none;
			padding: 0;
		}

		li {
			@include media-breakpoint-down(md) {
				display: inline-block;
				margin-right: 1em;
			}
			margin: 0 0 1em 0;
		}

		hr {
			margin: 2em 0;
		}
		a {
			color: inherit;
		}
	}

	&__content {

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(10);
		}
		@include media-breakpoint-up(lg) {
			max-width: 48.125em;
		}

		p {
			color: $paragraph-color;
		}

		p.lead {
			color: inherit;
		}
	}

	&__title {
		@include media-breakpoint-up(md) {
			font-size: 3.5em;
		}
		margin-bottom: .8em;
	}

	&__date {
		font-size: .9375em;
		margin-bottom: 1.2rem;
	}

}
