/*
 * Regular page/post like single.php, post.php
 * */

.single-post {

	&__row {
		@include make-row();
	}


	&__content {

		img {
			max-width: 100%;
			height: auto;
		}

		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(10);
		}
		@include media-breakpoint-up(lg) {
			max-width: 48.125em;
		}

		p {
			color: $paragraph-color;
		}

		p.lead {
			color: inherit;
		}
	}

	&__title {
		@include media-breakpoint-up(md) {
			font-size: 3.5em;
		}
		margin-bottom: .8em;
	}

	&__date {
		font-size: .9375em;
	}

}
